#navbar{
    background-color: #810000 ;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top:0;
    z-index: 10;
    height: 70px;
    font-weight: bold;
    font-size: 18px;
  }
  #navbar ul{
    display: flex;
    list-style: none;
    text-decoration: none;
  }
  #navbar li a {
    color: black;
    padding: 20px;
    text-decoration: none;
  
  }
  #navbar li a:hover{
    background-color: #e97171; 
    border-radius: 20px;
  }

  /*home styling*/
#home{
    background: url(../imgs/back.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    text-shadow:2px 2px black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font: xx-large;
    font-family: 'Courier New', Courier, monospace;
    
    
  }
  .homepage{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/*About styling*/
#about {
    background: #f5efef;
    padding-bottom: 50px;

}
#about h1{
    text-align: center;
    font-size: 32px;
    padding-top: 80px;
    color: black;
  }
#about p{
    text-align: center;
}
#about hr{
    width: 80%;
    border: 1px dashed black;
    
}


/*meals section styling*/
#meals{
  background: #e97171;
  color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}
#meals img{
  width: 400px;
  height: 300px;
}
#meals h1{
  text-align: center;
  font-size: 32px;
}
#meals h1::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
  padding: 2px;
}

.feature-title{
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
}
#meals h2::after {
  content: '';
  background: #222;
  display: block;
  height: 2px;
  width: 15%;
  margin: 15px auto 45px;
  padding: 2px;
}

#order{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../imgs/fom.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(158, 139, 139);
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
}
#response{
  color: whitesmoke;
}
td,th{
  font-size: 20px;
  color: white;
}
.selected h2{
  color:orange;
  text-align: left;
}
#addedprice{
  display: none;
}
#finallmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 15px;
  color: orange;
}
#footer{

  background: darkgrey;
  color: black;
  padding-top: 20px;

}
#footer h4{
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: bold;
}
.line{
  border-width: 2px;
  background-color: orange;
}
.copyright{
  color: black;
  font-size: 15px;
  text-align: center;
}
.copyright hr{
  background-color: rgb(20, 19, 17);
  height: 2px;
  border: none;
}
.fa {
  color: black;
}